<div class="colored">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="shell-wrap">
          <div class="shell-top-bar">
            <div class="circle red circle-first"></div>
            <div class="circle yellow"></div>
            <div class="circle green circle-last"></div>
            /your/projects/folder
          </div>
          <ul class="shell-body">
            <li>git clone https://github.com/kyr0/spring-boot-web-skeleton.git PROJECT_NAME</li>
            <li>cd PROJECT_NAME</li>
            <li>mvn install</li>
            <li>cd dist</li>
            <li>java -jar skeleton.jar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Spring Boot Web Skeleton</h1>
      <h4>Welcome to the Spring Boot Web Skeleton project. The idea of this project is to provide a boilerplate implementation for modern Enterprise Java Web Applications based on Spring Boot.

        Another goal of this project is to enable less-experienced developers to self-educate themselves on how to use Spring Boot.

        Whatever you plan to implement: Using this skeleton, you can ramp up your next Spring Boot project in almost no time.</h4>
    </div>
  </div>
 </div>
