<div class="colored">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <img width="100%" src="../../../assets/banner.svg" style="margin-top: 100px;" >
            </div>
            <div class="col-md-offset-2 col-md-8">
                <div class="shell-wrap">
                    <div class="shell-top-bar">
                        <div class="circle red circle-first"></div>
                        <div class="circle yellow"></div>
                        <div class="circle green circle-last"></div>
                        /your/projects/folder
                    </div>
                    <ul class="shell-body">
                        <li>git clone https://github.com/kyr0/spring-boot-web-skeleton.git PROJECT_NAME</li>
                        <li>cd PROJECT_NAME</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div Markdown
                 path="https://raw.githubusercontent.com/kyr0/spring-boot-web-skeleton/development/README.md"></div>
        </div>
    </div>
</div>


