.navbar-brand,
.navbar-nav li a {
  line-height: 56px;
  height: 56px;
  padding-top: 0px;
}
.brand{
  padding-top: 17px;
  height: 40px;
}


/* navbar */
.navbar-default {
  background-color: #4247d2;
  border-color: #2c2c59;
  font-size: 18px;
  box-shadow: 0 5px 5px #2c2c59;
}
.navbar-default .navbar-brand {
  color: #c7cafb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #aeb7fb;
}
.navbar-default .navbar-text {
  color: #c7cafb;
}
.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus{
  background-color: #5a71ff;

}
.navbar-default .navbar-nav > li > a {
  color: #c7cafb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #aeb7fb;
  background-color: #5a71ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #aeb7fb;
  background-color: #5a71ff;
}
.navbar-default .navbar-toggle {
  border-color: #5a71ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5a71ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c7cafb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c7cafb;
}
.navbar-default .navbar-link {
  color: #c7cafb;
}
.navbar-default .navbar-link:hover {
  color: #aeb7fb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c7cafb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #aeb7fb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #aeb7fb;
    background-color: #5a71ff;
  }
}
