<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    This documentation was build with <a href="https://github.com/dimpu/angular2-markdown"
                                                         target="_blank">angular2-markdown</a>
                </p>
            </div>
        </div>
        <div class="row">
            <!--     <div class="col-xs-6 col-md-2">
                     <div class="technologie">
                         <img src="../../../assets/spring-boot.png">
                     </div>
                 </div>
                 <div class="col-xs-6 col-md-2">
                     <div class="technologie">
                         <img src="../../../assets/angular4.png">
                     </div>
                 </div>
                 <div class="col-xs-6 col-md-2">
                     <div class="technologie">
                         <img src="../../../assets/lb-square.png">
                     </div>
                 </div>
                 <div class="col-xs-6 col-md-2">
                     <div class="technologie">
                         <img src="../../../assets/maven.png">
                     </div>
                 </div>
                 <div class="col-xs-6 col-md-2">
                     <div class="technologie">
                         <img src="../../../assets/swagger.png">
                     </div>
                 </div>
                 <div class="col-xs-6 col-md-2">
                     <div class="technologie">
                         <img src="../../../assets/webpack.png">
                     </div>
                 </div>-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <img height="30px" src="../../../assets/banner.svg">
                <div >
                    <p class="footer-company-name ">Skeleton &copy; {{year}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center" >
                    <img class="profilImg" src="https://avatars0.githubusercontent.com/u/454817?v=3&s=400">
                </div>
                <div class="text-center address">
                    Aron Homberg<br>
                    <a href="http://www.aron-homberg.de/" target="_blank">aron-homberg.de</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <img class="profilImg" src="https://avatars0.githubusercontent.com/u/12079044?v=3&s=400">
                </div>
                <div class="text-center address">
                    Michael Mannseicher<br>
                    <a href="http://www.mannseicher.com/" target="_blank">mannseicher.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
